/* ODOZii Digital Design & Development */
/*	###############################################	*/
/* Website Designed by Francis Odozi Isibor */
/*	###############################################	*/

/*
 *  TABLE OF CONTENTS - STYLE.CSS
 *
 * 	@Fonts
 * 	@Text Styles & Themes
 * 	@Global
 * 	@Positioning
 * 	@Spacing
 *	@Columns
 * 	@Special Properties
 * 	@Blog Elements
 * 	@Form Elements
 * 	@Shop Elements
 * 	@Wrappers
 *	@Backdrops & Backgrounds
 *	@Watermarks
 *	@CSS Animations
 *	@Logo
 *	@Header, Menu & Navigation
 *	@Site Sections
 *	@Contact & Footer
 *
 */


/*	###############################################	*/
/* 	Fonts */
/*	###############################################	*/

/*	###############################################	*/
/* 	Text Styles */
/*	###############################################	*/
.whitetxt {
  color: white;
}
.lighttxt {
  color: #999;
}
.greytxt {
  color: #777;
}
.darktxt {
  color:#333;
}
.darkertxt {
  color:#222;
}
.blacktxt {
  color:#000;
}


.leftjustified	{
	text-align:left;
}
.centerjustified	{
	text-align:center;
}
.rightjustified	{
	text-align:right;
}

/*	###############################################	*/
/* 	Typography */
/*	###############################################	*/

.hero_type h1	{
	font-weight:400;
	font-size:120px;
	letter-spacing:2px;
	margin-top:10px;
	margin-bottom:10px;
}

.hero_type h5	{
	font-weight:700;
	font-size:20px;
	letter-spacing:3px;
	margin-top:10px;
	margin-bottom:10px;
}

.contact_type h2 {
  font-weight:400;
	font-size:30px;
  letter-spacing:2px;
  margin-top:10px;
	margin-bottom:10px;
}
.contact_type h5 {
  font-weight:400;
	font-size:16px;
  letter-spacing:2px;
  margin-top:10px;
	margin-bottom:10px;
}

/*	###############################################	*/
/* 	Global */
/*	###############################################	*/

/*	###############################################	*/
/* 	Positioning */
/*	###############################################	*/
.leftfloat 	{
	float:left;
}
.rightfloat 	{
	float:right;
}
.nofloat  {
  float: none;
}

/*	###############################################	*/
/* 	Spacing */
/*	###############################################	*/

.fullscreen {
 width:100%;
 height:100vh;
}

.centerouter	{
	display:table;

	height:100%;
	width:100%;
}
.centermiddle	{
	display:table-cell;
	vertical-align:middle;
}
.centerbottom	{
  width:100%;
	display:table-cell;
	vertical-align: bottom;
}

/*	###############################################	*/
/* 	Columns */
/*	###############################################	*/

.col4 {
  width:20%;
  height:auto;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

/*	###############################################	*/
/* 	Wrappers */
/*	###############################################	*/

.basicwrapper	{

	max-width:900px;
  width:400px;
	width:80%;
	margin:0 auto;

  padding-top:40px;
	padding-bottom:40px;

}

/*	###############################################	*/
/* 	Backdrops & Backgrounds */
/*	###############################################	*/
.blackbg  {
  background-color: #000;
}
.darkerbg  {
  background-color: #111;
}
.darkbg  {
  background-color: #333;
}
.lightbg  {
  background-color: #999;
}
.whitebg  {
  background-color: #fff;
}


/*	###############################################	*/
/* 	Site Sections */
/*	###############################################	*/

body  {
  font-family: 'Nunito Sans', sans-serif;
  margin:0;
}

#main	{
	width:100%;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;
	/* color:#555; */
}

#hero {
  width: 100%;
  height: calc(100% - 200px);
}

#contact {
  width: 100%;
  height:200px;
}
